* {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Zen Loop', cursive;
}

/* Table */

table {
  transform: rotateX(60deg) rotateZ(45deg);
}

table, table * {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  margin-bottom: -2%;
}

td {
  height: 50px;
  width: 50px;
  /*border: black 1px solid;*/
  background-color: aliceblue;
  text-align: center;
  max-width: 50px;
  max-height: 50px;
  padding: 0px;
  margin: 0px;
}

.gameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wall {
  background-color: rgb(203, 203, 207);
}

.move {
  background-color: rgba(240, 196, 196, 0.6);
}

.move:hover {
  background-color: rgba(240, 196, 196);
  cursor: pointer;
}

.playerIop, .playerSteamer {
  transform: rotateX(-60deg) rotateZ(333deg) rotateY(45deg) translate(-50%, -50%);
  position: absolute;
  bottom: -20%;
  left: 50%;
  pointer-events: none;
}

/* Weapons */

img.weapon {
  transform: rotateX(-60deg) rotateZ(333deg) rotateY(45deg) translate(-50%, -50%);
  position: absolute;
  bottom: 5%;
  left: 50%;
  pointer-events: none;
  /*animation: float 6s ease-in-out infinite;
  animation-delay: 450ms;*/
}

img.weapon.weaponRaziel {
  bottom: 25%;
}

img.weapon.weaponSabre, img.weapon.weaponCorbalame {
  bottom: 35%;
}

/* Player Card */

.playerCardContainer {
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 4%;
  width: -webkit-fill-available;
}

.playerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2% 0 2%;
  padding: 1% 1%;
  background-color: rgb(189, 220, 255);
}

.playerCard p {
  display: flex;
  margin: 2% 0;
}

.versus {
  opacity: 1;
  width: 50px;
}

/* Buttons */

.buttonsPlay {
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  width: 250px;
}

.buttonsPlay > button {
  font-family: 'Just Another Hand', 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(189, 220, 255);
  /*margin : 0 2% 0 2%*/
}

.buttonsPlay > button:hover {
  cursor: pointer;
  transition: box-shadow 300ms;
  box-shadow: -3px 3px rgb(253, 168, 55);
  border: 2px solid rgb(253, 168, 55);
  /*transition: border 300ms;*/
}

/* Winner presentation */

.winnerPresentation {
  font-size: 30px;
}

.newGame {
  background-color: coral;
  padding: 2%;
  color: inherit;
  text-decoration: none;
}

.newGame:hover {
  background-color: rgba(255, 127, 80, 0.795);
}
