/* Table */

table {
  transform: rotateX(60deg) rotateZ(45deg);
}

table, table * {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

td {
  height: 50px;
  width: 50px;
  border: black 1px solid;
  text-align: center;
  max-width: 50px;
  max-height: 50px;
  padding: 0px;
  margin: 0px;
}

.gameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wall {
  background-color: rgb(203, 203, 207);
}

.move {
  background-color: rgb(231, 211, 185);
}

.playerIop, .playerSteamer {
  transform: rotateX(-60deg) rotateZ(333deg) rotateY(45deg) translate(-50%, -50%);
  position: absolute;
  bottom: -20%;
  left: 50%;
}

/* Weapons */

img.weapon {
  transform: rotateX(-60deg) rotateZ(333deg) rotateY(45deg) translate(-50%, -50%);
  position: absolute;
  bottom: 5%;
  left: 50%;
}

img.weapon.weaponRaziel {
  bottom: 25%;
}

img.weapon.weaponSabre, img.weapon.weaponCorbalame {
  bottom: 35%;
}

/* Player Card */

.playerCardContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10%;
  width: -webkit-fill-available;
}

.playerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2% 0 2%;
  padding: 1% 1%;
  background-color: rgb(189, 220, 255);
}

.playerCard p {
  display: flex;
  margin: 2% 0;
}
